<div id="sidebar">
    <div class="sidebar-header">
        <button class="toggle-btn">
            <i class="fa fa-bars"></i>
        </button>
        <h4>MiniOPS</h4>
    </div>

    <ul class="menu-list">
        <li class="menu-item" data-target="dashboard">
            <i class="fa fa-dashboard menu-icon"></i>
            <span class="menu-text">MiniOps Dashboard</span>
        </li>
        {% for item in menulist %}
        <li class="menu-item has-submenu">
            <i class="{{item.cssname}} menu-icon"></i>
            <span class="menu-text">{{item.menu}}</span>
             <i class="fa fa-angle-down menu-arrow" style="margin-left: auto;"></i>
             {% if item.submenu %}
            <ul class="submenu">
                {% for subitem in item.submenu %}
                <li class="fa fa-file submenu-item" data-target="user-list"> {{subitem.name}}</li>
                 {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}

        <li class="menu-item" data-target="settings">
            <i class="fa fa-cog menu-icon"></i>
            <span class="menu-text">系统设置</span>
        </li>
    </ul>
</div>
