<div id="sidebar">
    <div class="sidebar-header">
        <button class="toggle-btn">
            <i class="fa fa-bars"></i>
        </button>
        <h4>MiniOPS</h4>
    </div>

    <ul class="menu-list">
        <li class="menu-item" data-target="dashboard">
            <i class="fa fa-dashboard menu-icon"></i>
            <span class="menu-text">MiniOps Dashboard</span>
        </li>

        <li class="menu-item has-submenu">
            <i class="fa fa-users menu-icon"></i>
            <span class="menu-text">用户管理</span>
            <i class="fa fa-angle-down menu-arrow" style="margin-left: auto;"></i>

            <ul class="submenu">
                <li class="submenu-item" data-target="user-list">用户</li>
                 <li class="submenu-item" data-target="user-add">添加</li>
                <li class="submenu-item" data-target="user-roles">角色</li>
            </ul>
        </li>

        <li class="menu-item has-submenu">
            <i class="fa fa-product-hunt menu-icon"></i>
            <span class="menu-text">产品管理</span>
            <i class="fa fa-angle-down menu-arrow" style="margin-left: auto;"></i>
            <ul class="submenu">
                <li class="submenu-item" data-target="product-list">产品列表</li>
                <li class="submenu-item" data-target="product-add">添加产品</li>
                <li class="submenu-item" data-target="product-category">产品分类</li>
            </ul>
        </li>

        <li class="menu-item has-submenu">
            <i class="fa fa-file-text-o menu-icon"></i>
            <span class="menu-text">内容管理</span>
            <i class="fa fa-angle-down menu-arrow" style="margin-left: auto;"></i>
            <ul class="submenu">
                <li class="submenu-item" data-target="article-list">文章列表</li>
                <li class="submenu-item" data-target="article-add">添加文章</li>
                <li class="submenu-item" data-target="article-category">文章分类</li>
            </ul>
        </li>

        <li class="menu-item" data-target="settings">
            <i class="fa fa-cog menu-icon"></i>
            <span class="menu-text">系统设置</span>
        </li>
    </ul>
</div>